.power {
    background-color: #7b4df0;
    color: #e5e2f6;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.power__header2 {
    color: #e5e2f6;
    padding: 15px;
    font-size: 24px;
}

.power__header3 {
    color: #e5e2f6;
    padding: 15px;
    font-size: 20px;
}

.power__paragraph {
    color: #e5e2f6;
    padding: 15px;
    font-size: 18px;
    line-height: 1.6;
}

.power__button {
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    background-color: #0aae15;
    color: white;
    font-size: large;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: sticky;
}

.power__button:hover {
    background-color: #13cc13;
}

.power__listItem {
    margin: 10px 0px;
}