html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
.darkMode {
  background-color: black;
  color: #ebe8fd;
}

.body {
  color: #333;
  background-color: #f9f9f9;
  font-family: "Nunito", sans-serif;
  max-width: 1450px;
  margin: 0px auto;
}

.link {
  color: #4b0082;
  text-decoration: none;
}

.link:visited {
  color: #0f0945;
}
.link:hover {
  color: #7004bd;
  border-bottom: #4b0082 solid 1px;
  outline: none;
}
.link:active {
  color: #0aae15;
}